DATABASE_URL="file:./dev.db"
JWT_SECRET="your-key"
JWT_EXPIRES_IN="7d"
CLIENT_ID=111111111
CLIENT_SECRET=1111111
GOOGLE_CALLBACK_URL=http://localhost:8080/api/auth/google/callback
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_AUTH_USER=user@example.com
SMTP_AUTH_PASS=xkeysib-...
SENDER_EMAIL=noreply@library.com